# PostgreSQL (Vercel Postgres / Neon / Supabase)
POSTGRES_URL=postgresql://user:password@host:5432/dbname

# Auth
ADMIN_EMAIL=admin@narbera.ru
ADMIN_PASSWORD_HASH=240be518fabd2724ddb6f04eeb1da5967448d7e831c08c8fa822809f74c720a9
JWT_SECRET=IzvTdCiurU5JnBfh3YwEl801eoFLcbmDMjWPSagN6xVGZstQyHORK9k7q2pX4A

# Email (optional)
NOTIFY_EMAIL=
RESEND_API_KEY=
